body {
    background-image: url("imgs/lab-background.jpg");
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 4fr);
    grid-template-areas:
        "header"
        "form";
    grid-gap: 1rem;
}

header {
    grid-area: header;
    align-self:center;
}

.logo-title {
    display: grid;
    width: 80%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-rows: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas:
        "logo title"
        "logo description";
    grid-gap: 0 1rem;
    margin: auto;
}
.image-wrapper {
    grid-area: logo;
    width: 100%;
    align-self: center;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#title {
    grid-area: title;
    align-self: center;
    font-size: 1.1rem;
    color:white;
}

#description {
    grid-area: description;
    font-size: .75rem;
    color: white;
    font-style: italic;
}

main {
    grid-area: form;
}


.form-wrapper {
    grid-area: form;
    max-width: 100%;
    border-radius: 16px;
    background-color: #141414B3;
}

#survey-form {
    padding: 0 1rem;
    max-width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-top: 16px;
    margin-bottom: 4px;
}

#radio-div {
    display: flex;
    flex-direction: column;
}
#radio-div label {
    margin-top: .2rem;
}

.checkbox-item {
    margin: .5rem 0 .25rem 0;
}

button {
    background-color: #FFC107;
    width: 50%;
    margin: 1.25rem auto 2rem auto;
    border-radius: 8px;
    padding: 8px 0;
}

@media (min-width: 600px) {

    .form-wrapper {
        max-width: 60%;
        margin: auto;
    }

    .logo-title {
        max-width: 60%;
    }

    #title {
        font-size: 1.5rem;
    }
    #description {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {


    .logo-title {
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "logo title title ."
            "logo description description .";
    }


    .form-wrapper {
        max-width: 50%;
    }

}

@media (min-width: 1200px) {
    #title {
        font-size: 2rem;
    }

    #description {
        font-size: 1.5rem;
    }
}

